:root {
  --warna-utama: #d92525;
  --warna-kedua: #fdbbaf;
}
body {
  background-color: #eee;
  overflow-x: hidden;
}

nav {
  background-color: var(--warna-utama);

  backdrop-filter: blur(5px) opacity(0.1);
}
.home {
  background-image: url(../img/produk1.png);
  background-size: cover;
}
.home .content {
  backdrop-filter: blur(10px);
  border-color: transparent;
  /* width: 50%;
    height: 50%; */
}
.about .card {
  width: 25rem;
}
.product {
  background-color: var(--warna-kedua);
  height: auto;
}
.product .card {
  cursor: pointer;
}
.product .card .card-body {
  border-color: red;
}
@media (min-width: 800px) {
  section {
    height: 100vh;
    padding: 5rem 0;
  }
}
