body {
    background-color: #eee;
    overflow-x: hidden;
}
section  {
    height: 100vh;
    padding: 5rem 0;
} 
nav {
    background-color: rgb(255, 255, 255, .2);
    backdrop-filter: blur(5px);
}
.home {
    background-image: url(../img/produk1.png);
    background-size: cover;
    color: #fff;
}
.home .content {
    backdrop-filter: blur(10px);
    border-color: transparent;
    /* width: 50%;
    height: 50%; */
}
.about .card {
    width: 25rem;
}




@media (max-width: 600px) {
  .home {
    color: black;
    background-image: url(../img/produk2.jpg);
    background-color: #eee;
    max-width: 100%;
    min-height: 50vh;
  }
  .mobile {
    display: none;
  }
}